<div class="navble">
	<i class="fas fa-bars" id="logo"></i>
	<img src="https://storage.googleapis.com/cdn.nhanh.vn/store/25088/store_1584590640_524.png">
	<div class="sreach">
		<div class="sreach1">
			<h1>SREACH</h1>
		</div>
		<div class="input-sreach">
			<input type="text" id="sreach">
		</div>
	</div>
	<div class="login">
		<div class="login-name">
			<p>Login</p>
		</div>
		<div class="logout-name">
			<p>Logout</p>
		</div>
		<i class="fas fa-shopping-cart"></i>
	</div>
</div>
	
	<div class="menu-left">
		
	</div>
